<style>
body {
	background-color: #ADD8E6;
}

div.category_box {
	background-color: #9DC8F6;
	margin: 5px;
	padding: 10px;
}

div.article_title_box {
	background-color: #9DC8D6;
	margin: 5px;
	padding: 10px;
}

div.section_box {
	border: 1px solid gray;
	background-color: #BDE8F6;
	margin: 5px 10px 5px 10px;
	padding: 10px;
}
	
div.comment_box {
	border: 1px solid black;
	background-color: #DDFFA6;
	margin: 5px 20px 5px 20px;
	padding: 10px;
}	
</style>

<body class="blog-body" id="bloghome">

	<h1>Blog Home Page</h1>
	<p>Passing the page title to the layout file.</p>
	
</body>